MONGODB_URI= "mongodb+srv://kimngan040201:HBkHNgVawB3OgjQd@kimngan.p4qw5na.mongodb.net/user?retryWrites=true&w=majority&appName=kimngan"
JWT_SECRET='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IktpbSBOZ2FuIiwiaWF0IjoxNTE2MjM5MDIyfQ.6BZ1EqP7iXryoBKeZHAAci-M6aSGW-wDn7vT1RvnWto'
PORT=3000
HOST_NAME='localhost'